.cloud {
	position: absolute;
	width: 300px;
	right: 0;
	opacity: 1;
	animation-name: cloud-movement;
	animation-timing-function: linear;
	animation-direction: forwards;
	animation-iteration-count: infinite;
	animation-duration: 8s;

	// position
	&.front {
		z-index: 9;
	}

	&.distant {
		z-index: 1;
	}

	// sizing
	&.smaller {
		margin-right: 400px;
		width: 100px;
		margin-top: 70px;
	}

	&.small {
		margin-right: 200px;
		width: 150px;
	}

	&.big {
		width: 500px;
		margin-top: 50px;
		margin-right: 150px;
	}

	&.massive {
		width: 600px;
		margin-top: 40px;
		margin-right: 0px;
	}

	// animation
	&.slow {
		animation-duration: 9.2s;
	}

	&.slower {
		animation-duration: 11.2s;
	}

	&.slowest {
		animation-duration: 13.5s;
	}

	&.super-slow {
		animation-duration: 20.5s;
	}
}

@keyframes cloud-movement {
	0% {
		opacity: 0.1;
		transform: translateX(900px);
	}

	10% {
		opacity: 0.7;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 0;
		transform: translateX(-1000px);
	}
}
